@font-face{
    font-family: 'Proxima Nova';
    src: url('./fonts/Proxima\ Nova') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #464f54;
    font-family: 'Proxima Nova','Secular One', sans-serif;
  }
  
  main {
    max-width: 1200px;
    margin: 159px auto 0;
    padding-left: 70px;
    background-color: #ffffff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.22);
    position: relative;
  }
  .main-container {
    padding: 200px 130px 0 55px;
    border-left: 2px solid #e8eced;
  }
  .author {
    font-size: 20px;
    color: #b4b4b4;
    letter-spacing: 6.72px;
    text-transform: uppercase;
  }
  h1 {
    font-size: 78px;
    color: #2a2a2a;
    text-transform: uppercase;
    letter-spacing: 5.28px;
    line-height: 73.52px;
    margin-top: 47px;
  }
  .idea {
    color: #8f8f8f;
    font-family: Georgia;
    font-size: 30px;
    font-style: italic;
    line-height: 62.44px;
  }
  .content {
    margin-top: 55px;
  }
  .content p {
    font-size: 27px;
    font-family: Georgia;
    color: #000000;
    line-height: 40.38px;
    margin-bottom: 36px;
    text-align: justify;
  }
  .italic {
    font-style: italic;
  }
  .content:last-child{
    padding-bottom: 20px;
  }
  .aside {
    width: 100%;
    position: absolute;
    top: -102px;
    right: -20%;
  }
  .input-form {
    background-color: #181818;
    margin-top: 50px;
    width: 100%;
    padding: 50px 0 50px 60px;
    box-shadow: -4px -4px 59px rgba(0, 0, 0, 0.16);
  }
  .label {
    font-size: 15px;
    color: #767676;
    letter-spacing: 4.8px;
    text-transform: uppercase;
  }
  input {
    width: 100%;
    background-color: inherit;
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    font-size: 40px;
    color: #ffffff;
    padding-bottom: 10px;
  }
  input:focus,{
    outline: none;
  }
  .control-bar {
    margin-left: auto;
    background-color: #fbc02d;
    width: 94%;
    height: 80px;
    box-shadow: -4px -4px 59px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    border-radius: 0 0 10px;
  }
  .control-bar-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 200px 24px 40px;
  }
  .control-bar-list .material-icons {
    font-size: 38px;
    color: #ffffff;
    margin-right: 30px;
    opacity: 0.5;
  }
  .control-bar-list li:hover .material-icons{
    opacity: 1;
  }