*{
    transition: all .1s ease-in;
    margin: 0;
    padding: 0;
}
:root{
    --grey:#4a4f56;
    --dark-grey:#3b3f45;
    --light-purple:#88839e;
    --purple:#7a7593;
    --dark-purple:#625e77;
    --red:#eb7e7f;
}
body{
    font-family:'Trebuchet MS', Trebuchet, Arial, sans-serif;
    width:1240px;
    height: 808px;
    border: solid 24px;
    border-color: #ffffff;
    text-align: center;
    background-color:var(--dark-grey);
}

.headline_text{
    color: var(--red);
}
.headline_main{
    font-size: 26px;
    padding-top: 29px;
}
.headline_else{
    font-size: 17px;
    padding-bottom: 27px;
}
body>div{
    background-color: var(--grey);
}
ul{
    padding: 40px 194px 40px;
}
li{
    display: block;
    width: 800px;
    height:23px;
    text-align: left;
    color:white ;
    list-style: none;
    margin-left: 0;
    padding: 20px;
}
.list :nth-child(odd) li{
    background-color: var(--light-purple);
}
.list :nth-child(even) li{
    background-color: var(--purple);
}
#footer{
    display: block;
    width: 800px;
    height:22px;
    color: var(--red);
    font-size: 19px;
    margin: 0 194px;
    padding: 26px;
}
.hower .content:hover{
    border: 5px solid ;
    border-right: 0;
    border-left: 0;
    background-color: var(--dark-purple);
}
.post_script::before{
    content: "(";
}
.post_script::after{
    content: ")";
}
.list .hower:focus{
    background-color: var(--red);   
}
.content :nth-child(2){
    font-size: 20px;
}
.post_script{
    font-size: 11px;
}
.list .hower :active{
    background-color: var(--red);
}
.content :checked ~ span{
    text-decoration: line-through;
    opacity: 0.4;
}
input[type="checkbox"]{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin:-3px 4px 0 0;
    vertical-align: middle;
}