.header {
	background-color: #ffffff;
	height: auto;
	padding: 108px 0 109px;
	box-sizing: border-box;
}

.header_panel {
	width: 33%;
	text-align: center;
	display: inline-block;
}

.header_text {
	padding: 0 35px;
	line-height: 24px;
	font-weight: 100;
}

.header_headline {
	margin: 0 0 35px;
	text-transform: uppercase;
	font-weight: 400;
}

.header_image {
	display: inline-block;
	border-radius:32;
	background-color:#2a69b6 0.5 ;
	margin-bottom: 50px;
}